@import './variables.css';

.footer {
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 16px 0;
    width: 100%;
}
